button {
  background-color: #ffa0a0;
  color: #fff;
  border: #ffdaff;
  cursor: pointer;
}

button:hover {
  background-color: #ff8080;
}

.App {
  max-width: 512px;
  margin: auto;
}

.App header {
  text-align: center;
}

.ListItem,
.AddItemForm {
  display: flex;
  border: .25rem solid #ffa0a0;
  padding: .25rem;
  margin-bottom: .5rem;
}

.InlineEdit {
  display: flex;
}

.InlineEdit input {
  width: 4rem;
}

.ListItem > * {
  padding: 0 1rem;
}

.ListItem > :first-child,
.AddItemForm > :first-child {
  flex-grow: 1;
  padding: 0 .25rem;
}

.ListItem > :last-child,
.AddItemForm > :last-child {
  width: 5rem;
}

.AddItemForm input {
  border: none;
  line-height: 2rem;
}
