@import "variables";
@import "~bootstrap/scss/bootstrap";

@import "layouts/AppRoot";
@import "layouts/ShoppingListApp";
@import "layouts/TP1Clock";
@import "layouts/TP2App";
@import "components/AddItemForm";
@import "components/ListItem";
@import "components/Navbar";
